<html>
<head>
<meta name="Owner" content="Gurpreet Jagpal">	
<meta name="Business" content="Account Plus Finance, subsidiary of Jagpal Holdings Company">
<meta name="description" content="Market analysis, real estate management, trading, advising, research">
<meta name="location" content="Yuba City, California">
<meta name="idea" content="">


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 



     <title>IBM Cloud Homepage</title>
     
   
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />

<!-- twitter cards -->
<meta property="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@JagpalHoldingsCompany">
<meta name="twitter:creator" content="@GaryJagpal">
<meta property="twitter:title" content=""/>
<meta property="twitter:description" content=""/>
<meta property="twitter:image" content=""/>

<link rel="stylesheet" href="https://www.accountplusfinance.com/css/try.css">
</head>

<body>
  <div class="jumbotron">
    <h1>Jagpal Holdings Company</h1>
    <h4>JHC IBM Cloud Development Operations Page</h4>
  </div>
</body>
</html>
